<a href="https://colab.research.google.com/github/piretprnik/wotech-1/blob/main/Lesson20.04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["apple", "orange", "banana", "grape", "kiwi"]

In [5]:
name = input("What is your favourite fruit? ")
if name in fruits:
    print(f"Yes, {name} is in the list")
else:
    print(f"No, {name} is not in the list")

What is your favourite fruit? Apple
No, Apple is not in the list

In [6]:
numbers = [1,2,3,4,5]

In [14]:
user_input = int(input('Enter a number: '))
if user_input in numbers:
    if user_input % 2 == 0:
        print(f"Number {user_input} is even.")
    else:
        print(f"Number {user_input} is odd.")
else:
    print(f"Number {user_input} is not in the list.")

Enter a number: 7
Number 7 is not in the list.

List methods

In [16]:
# APPEND

items = ['apple', 'kiwi', 'orange']
print(f'original items {items}')

my_value = 'banana'
items.append(my_value)
print(f'changed items {items}')

original items ['apple', 'kiwi', 'orange']
changed items ['apple', 'kiwi', 'orange', 'banana']

In [17]:
# COPY

original_list = [1,2,3,4,5]
copied_list = original_list.copy()

original_list.append(6)

print(original_list)
print(copied_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [19]:
# COUNT

numbers = [2,5,8,4,7,7]

target_number = 7
count = numbers.count(target_number)
print(f'The number {target_number} appears {count} times in the list.')

The number 7 appears 2 times in the list.

In [20]:
# INDEX

fruits = ['apple', 'banana', 'orange']
fruits_index = fruits.index('banana')
print(f'Index of "banana" is: {fruits_index}.')

Index of "banana" is: 1.

In [21]:
# INSERT

numbers = [1,2,3,4,5]
numbers.insert(2, 10)
print(numbers)

[1, 2, 10, 3, 4, 5]

In [22]:
# POP

numbers.pop(2)
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
# SORT

numbers = [6,9,10,3,5]
numbers.sort()
print(numbers)

[3, 5, 6, 9, 10]

Create a list of 5 number elements

Calculate maximum value of the numbers

Calculate minimum value of the numbers

Calculate average value of numbers

Check if the average value of the list if higher than 3

If the average is greater than 3, print "Average is greater than 3", otherwise print "Average is not greater than 3".

Sort the list

Remove first number of the list

Add your name to the list

Calculate at what index is your name

DONE

In [10]:
# CREATE A LIST OF 5 ELEMENTS
numbers = [1,7,5,3,4]
print(numbers)

# MAXIMUM VALUE OF THE NUMBERS
max_value = max(numbers)
print(f'Maximum number is {max_value}.')

# MINIMUM VALUE OF THE NUMBERS
min_value = min(numbers)
print(f'Minimum value is {min_value}.')

# AVERAGE VALUE OF THE NUMBERS
average_value = sum(numbers) / len(numbers)
print(f'Average value of the list is {average_value}')

# CHECK IF AVG VALUE IS GREATER OR SMALLER THAN 3
if average_value > 3:
    print('Average value is greater than 3.')
else:
    print('Average value is less than 3.')

# SORT THE LIST
numbers.sort()
print(numbers)

# REMOVE THE NUMBER ON THE LIST
numbers.pop(0)
print(numbers)

#ADD YOUR NAME TO THE LIST
numbers.insert(3, 'piret')
print(numbers)

# CALCULATE AT WHAT INDEX IS YOUR NAME
numbers.index('piret')

[1, 7, 5, 3, 4]
Maximum number is 7.
Minimum value is 1.
Average value of the list is 4.0
Average value is greater than 3.
[1, 3, 4, 5, 7]
[3, 4, 5, 7]
[3, 4, 5, 'piret', 7]

3

**RANGE**
range(start, stop, step)

In [6]:
list(range(10, 100, 10)) #last element not included

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [7]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [9]:
numbers_with_range = range(1,7) #iterable object [1,2,3,4,5,6]

In [11]:
for number in numbers_with_range:
    number = number*2
    print(number)

2
4
6
8
10
12

In [4]:
friends = ['Anna', 'Peter', 'Erika', 'Roberta']
for friends in friends:
  print(f'Hey hey {friends}!')

Hey hey Anna!
Hey hey Peter!
Hey hey Erika!
Hey hey Roberta!

In [5]:
friends = ['Anna', 'Peter', 'Erika', 'Roberta']
for friend in friends:
  print(f'Hey hey {friend}!')

Hey hey Anna!
Hey hey Peter!
Hey hey Erika!
Hey hey Roberta!